.tg--dermatologia .category {
	background: #41bff2 url(img/ie/bk_tag_dermatologia.jpg) repeat-y 100% 0;
}
.tg--ginecologia .category {
	background: #e785ca url(img/ie/bk_tag_ginecologia.jpg) repeat-y 100% 0;
}
.sidebar {
	background: url(img/ie/bk_sidebar.jpg) repeat-y 0 0;
}
.nav-buttons {
	li {
		background: url(img/ie/bianco_50.png) repeat 0 0;
	}
	a {
		text-decoration: none;
		display: block;
		cursor: pointer;
		border: 0;
	}
}