html {
	font-size: 62.5%; // 10
}
body {
	font-size: 100%;
	line-height: $baselineheight;
	font-family: $basefontfamily;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
}
body * {
	font-size: 1em; /* 12 */
	line-height: inherit;
}
p {
	margin-top: 0.25em; /*  4px */
	margin-bottom: 1em; /* 16px */ 
}
li {
	margin-left: 1.5em; /* 24px */
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
code {
}
pre {
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
audio,
object {
	margin: 0.75em 0; /* 12px */
}
th,td {
	text-align: left;
	padding: 0.375em; /*  6px */
}

// img

img {
max-width : 100%;
height: auto;
width: auto;
border-width : 0;
vertical-align : middle;
-ms-interpolation-mode : bicubic; }

.img-rounded {
@include border-radius; }

.img-polaroid {
padding : $gutterwidth / 2;
background-color : #fff;
border : 1px solid $bordercolor;
@include drop-shadow(0,1px, 3px, 0.1); }

.img-circle {
$border-radius: 500px; }

// figure

figure {
	margin : 0 0 $baselineheight;
	img {
		margin : 0;
	}
}

/* @Core */
.lf { float: left; display: inline }
.rf { float: right; display: inline }
.cf { clear: both; margin: 0 }
.l-img { @include float; margin: 0 5px 5px 0 }
.r-img { @include float(right); margin: 0 0 5px 5px }
.c-img { display: block; width: auto; clear: both; margin: 0 auto 10px }
.l-img img, .r-img img, .c-img img { display: block; }
.nowrap { white-space: nowrap; }
.t-right { text-align: right; }
.t-left { text-align: left; }
.t-justify { text-align: justify; }
.t-center { text-align: center; }
.clear { clear: both; }
.c-left { clear: left; }
.c-right { clear: right; }
.nomrg { margin: 0 }
.break { display: block; }
.pull-left { float: left; }
.pull-right { float: right; }
.nowrap { white-space: nowrap;}
.none { display: none; }
.inl { width: auto; }
.amp { font-family : "Hoefler Text"; font-style : italic; font-weight : normal; }
/* @end Core */