/* @group typografy */

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
h1, h2 {
	font-size: 2.4em; // 24
	padding: 0.25em 0// 6
}
h3, h4, h5,
ul, ol, p, dl {
	font-size: 1.2em; // 12
	padding: 0.5em 0; // 6 
}
li *,
dd *,
dd,
dt {
	font-size: 1em; // 12
}
.field-label label,
.action-group a {
	font-size: 1.2em; // 12
}
.btnbar a,
.lst-tools a {
	font-size: 1.1em; // 11
}
.lst-tools a {
	font-weight: 600;
	line-height: 1.818181818181818;
}

/* =nav */
.bar-utilsinfo a {
	@include font-size(14);
}

/* =module */

.mod-title {
	@include font-size(18);
	@include uppercase;
}

/* =list */
.lst em {
	font-style: normal;
}
.lst .summary {
	@include font-size(12);
	.title {
		font-weight: 600;
	}
}
.dt--complex {
	@include font-size(14);
	text-transform: lowercase;
	.day, .mouth {
		line-height: 30px
	}
	.day {
		@include font-size(30);
	}
	.mouth {
		@include font-size(24);
	}
}
.lst-meetings {
	.organizer {
		@include font-size(14);
		font-weight: 600;
		.name {
			text-transform: uppercase;
		}
	}
}

.link--rss {
	text-transform: uppercase;
	span {
		@include hide-text;
	}
}
